# Pre-Commit for pre-commit hooks management
pre-commit>=4.0.0

# Pylint for python lint
pylint>=3.3.1

# Poetry for package management alternative
poetry>=1.8.4

# Bump2Version for version release control
bump2version>=1.0.0

# Toml for pyproject.toml management
toml>=0.10.1

# Black for Code Formatting
black>=24.3.0

# Pytest for Unit/Integration Testing
pytest>=7.3.1
pytest-cov>=4.0.0

# Coverage Reporting
coverage>=7.2.5
